.thumbnail{
    width: 300px;
    display: block;
}

.video-autor,
.video-stats
{
       display: block; 
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

}

.search-bar{
    display: block;
}

.channel-picture{
    display: inline-block;
    width: 30px;
    vertical-align: top;
}

.video-info{
    display: inline-block;
    width: 200px;
}

.video-title{
    margin-top: 0;
}

.profile-pic{
    width: 100%;
    border-radius: 40px;
}

.thumbnail-row{
    margin-bottom: 10px;
}